.App {
  text-align: center;
  font-size: 12px;
  color: black;
  background-color: white;
  margin :5%;
  width: 80%;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.App-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.App-link {
  color: black;
}

