.App {
  text-align: center;
  font-size: 12px;
  color: black;
  background-color: white;
  margin :5%;
  width: 80%;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.App-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
}

.App-link1 {
  color: black;
  margin-left: 1%;
}

.App-link2 {
  color: black;
  margin-left: 1%;
} 

.App-link2::before{
    content: "->";
    display:inline-block;
}