.nav {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-link {
  color: #61dafb;
}

