.nav {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.nav-link {
  color: #61dafb;
}

.rcorner {
  border: 1px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

