
.resources {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.resources-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.resources-link {
	color : black;
}

.resources-list-space {
	margin-right: 10px;
}

.close {
	cursor : pointer;
	border: 1px solid black;
}

.close : hover {
	background: grey;
}